<div class="security-container">
    <mat-icon style="font-size: 20px; padding-bottom: 10px;">security</mat-icon>
    <div>All bus ratings include safety as a major factor</div>
  </div>
  <mat-divider></mat-divider>
  <div class="main-container">
    <div class="main-container1">
      <div>BUSES LIST</div>
      <div>SORT BY :</div>
    </div>
    <div class="main-container2" >Departure</div>
    <div class="main-container3" >Duration</div>
    <div class="main-container4" >Arrivals</div>
    <div class="main-container5" >Ratings</div>
    <div class="main-container6">Fare</div>
    <div class="main-container7">Seats Available</div>
  </div>
  