/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar{
    background: white;
    width: 0;
}
/* Reduce the size of the Google Translate dropdown */
#google_translate_element select {
    font-size: 12px; /* Adjust font size */
    padding: 2px 5px; /* Reduce padding */
    height: 25px; /* Decrease height */
    width: 25px; /* Adjust width dynamically */
}

/* Reduce the size of the Google Translate toolbar */
.goog-te-gadget {
    font-size: 12px !important; /* Decrease text size */
}

/* If Google Translate banner appears, hide it */
.goog-te-banner-frame {
    display: none !important;
}



