<div class="SingleTrip" *ngFor="let booking of booking">
    <div class="SingleTrip__image">
      <img [src]="randomimage" alt="bus" />
    </div>
    <div style="display: flex; justify-content: space-evenly">
      <div class="SingleTrip__busdetails">
        <div class="heading" style="font-weight: 600; font-size: large;">Bus Details</div>
        <!-- Insertion for Departure, Arrival details, and fare -->
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Location: {{ booking.departureDetails.city }}
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Time: {{ booking.departureDetails.time }}:00 hrs
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Date: {{ booking.departureDetails.date }}
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Location: {{ booking.arrivalDetails.city }}
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Time: {{ booking.arrivalDetails.time }}:00 hrs
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Date: {{ booking.arrivalDetails.date }}
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Total Fare: {{ booking.fare }}
        </p>
      </div>
      <div class="SingleTrip__persondetails">
        <div class="heading" style="font-weight: 600; font-size: large;">Passenger Details</div>

        <!-- Insertion for Passenger details -->
        <p>
          <span class="material-icons" >arrow_right_alt</span> Contact Email: {{ booking.email }}
          </p>
          <p>
            <span class="material-icons" >arrow_right_alt</span> Contact Phone Number: {{ booking.phoneNumber }}
          </p>
          <div class="SingleTrip__customerDetails__passenger">
            <div *ngFor="let passenger of booking.passengerDetails">
              <p>
                <span class="material-icons" >arrow_right_alt</span> Name: {{ passenger.name }}
              </p>
              <p>
                <span class="material-icons" >arrow_right_alt</span> Gender: {{ passenger.gender }}
              </p>
              <p>
                <span class="material-icons" >arrow_right_alt</span> Age: {{ passenger.age }}
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  